.contragentList{
    flex: 4;
    padding: 20px;
}
  .contragentListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.contragentListDelete{
    color: red;
    cursor: pointer;
}
.AddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }

  .head {
    display: flex;
    align-items: center;
   
    margin: 1px;
  }